# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environments
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/
